<!-- Head -->
<head>
    <link rel="stylesheet" href="../../stylesheets/loginCSS/main.css">
</head>

<!-- Styling div -->
<div id="bg"></div>

<!-- Body Content -->       
<header>
    <!--Logo here| Debating on if we want to take this off-->
    <a href="./landingPage.html">CRYPTODESK</a>
</header>

<main>
    <section id="primary">
        <h1>Cryptocurrency Archive</h1>
        <p>Access Real-time Cryptocurrency Data</p>
    </section>
    <section id="login" class="login">
        <h2>Sign In</h2>
        <form>
            <input type="text" name="Email" placeholder="Enter Email" class="email-input">
            <input type="password" name="password" placeholder="Enter Password" class="password-input">
            <input type="submit" name="login" value="Login" id="submit">
            <input type="text" name="New User" value="New User" id="new-user">
        </form>
    </section>
</main>

<!-- Scripting -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>