<head>
    <link rel="stylesheet" href="../stylesheets/landingPageCSS/landing.css">
</head>


<div id="bg"></div>
<!--Nav begins here-->
<nav>
    <i class="fa fa-bars" aria-hidden="true"></i>
    <h1>Your Portfolio</h1>
</nav>
<main>
    <!--Card div goes here-->
    <div class="card">
        <!--Profile pic goes here (left side of card)-->
        <div class="profile-sidebar">
            <img src="" alt="">
        </div>
        <!--Main section (right side of card goes here)-->
        <div class="profile-main">
            <h2 class="profile-name"></h2>
            <p class="profile-position"></p>
            <p class="profile-body">
            Lorem ipsum dolor sit amet consectetur
            Lorem ipsum dolor sit amet consectetur
            Lorem ipsum dolor sit amet consectetur
            </p>
        </div>
    </div>



</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>