<!-- Head -->
<head>
    <link rel="stylesheet" href="../stylesheets/landingPageCSS/landing.css"> 
</head>

<!-- Styling div-->
<div id="bg"></div>

<!-- Content -->
<nav>
    <i class="fa fa-bars" aria-hidden="true"></i>
    <h1>Your Portfolio</h1>
</nav>
  
<div class="arrow"></div>
  
<div class="container">
    
    <div>
      <p>Hey *Insert Username HERE*, great news!<br>
        Your portfolio was <code>*dynamic percentange change here*</code> today.<br> 
        Biggest gainers were *dynamic coin name change here* and *dynamic coin name change here*.
      </p>
    </div>

    <div>
      <h2><code>*dynamic portfolio value*</code></h2>
      <p><code>*Monetary increase here for "today"*</code></p>
    </div>
    
    <div id="table"></div>
    
    <div>
      <button>1D</button>
      <button>1M</button>
      <button>1Y</button>
      <button>All</button>
    </div>
    
</div>

<!-- Scripting -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>