<head>
    <link rel="stylesheet" href="../public/stylesheets/signUpCSS/signUp.css">
</head>

<div id="bg"></div>
    <header>
        <!--Logo here| Debating on if we want to take this off-->
        <a href="./members.handlebars">CRYPTODESK</a>
    </header>

    <main>
        <section id="primary">
            <h1>Cryptocurrency Archive</h1>
            <p>Access Real-time Cryptocurrency Data</p>
        </section>
        <section id="login" class="login">
            <h2>Sign Up</h2>
            <form>
                <input type="text" name="Email" placeholder="Enter Email" class="email-input">
                <input type="password" name="password" placeholder="Enter Password" class="password-input">
                <input type="submit" name="login" value="Login" id="submit">
                <p3>Already have an Account? <a href="login.handlebars">Sign In</a>.</p3>
            </form>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/signup.js"></script>